<html>

<head>
    <title>Image Gender Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!-- Internal CSS -->
<style>
  body{
    background-color:MediumSeaGreen;
    padding: 5rem;
  }

  .imageFile{
    background-color: #caf7e3;
    border-color: black;
  }

  .appTitle{
    padding-bottom: 1.5rem;
    color: white;
  }

  .formDesc{
    padding-bottom: 1.5rem;
    color: yellow;
  }

  .uploadBtn{
    margin-bottom: 1rem;
  }

  .previewImg{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .appDevName{
    color: #000000;
    padding-top: 3rem;
  }
</style>
<!--END OF CSS-->


<body>
    <h1 class="text-center appTitle"> Male & Female Classifier </h1>

    <h3 class="text-center formDesc">Upload your image </h3>

    <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
        <input class="form-control imageFile" type="file" onchange="loadFile(event)" name="imagefile">
        <p class="previewImg"><img id="output" width="200" /></p>
        <input class="btn btn-primary mt-3 uploadBtn" type="submit" value="Predict Image">
    </form>


<!--JAVASRRIPT-->
    <script>
      var loadFile = function(event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
    </script>
 <!--END OF JAVASRRIPT-->


      <h4 class="text-center"><b>Prediction: {{prediction}} </b></h4>


    <h4 class="text-center appDevName">Deep Learning Web App By <a>Shikhar Katyayan</a></h4>

</body>

</html>